* {
  margin: 0;
}

header {
  margin: 10px;
}

.hero-heading {
  text-align: center;
}

#main-article {
  border: 1px solid black;
  width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.long-paragraph {
  font-size: 22px;
  text-align: justify;
}