body {
  background-color: white;
  text-align: center;
  color: rgb(21, 192, 44);
}

h1:hover {
  color: blue;
  transition: 1s;
}

.cardsSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-image: url(./pokedex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  color: white;
  margin: 20px;
  width: 25em;
  height: 15em;
  padding: 20px;
}

.card img {
  display: block;
  margin: 0 auto;
  height: 8em;
}