div:hover{
  border: 1px solid black;
}

div:nth-of-type(1){
  background-color: green;
}

div:nth-of-type(2){
  background-color: red;
}

div:nth-of-type(3){
  background-color: orangered;
  height: 50px;
}

div:nth-of-type(4){
  background-color: purple;
}

div:nth-of-type(5){
  background-color: blue;
}

div:nth-of-type(odd){
  font-style: italic;
}

div:nth-of-type(1) h3{
  color: white;
}
div:nth-of-type(2) h3{
  color: green;
}
div:nth-of-type(3) h3{
  color: blue;
}
div:nth-of-type(4) h3{
  color: black;
}
div:nth-of-type(5) h3{
  color: antiquewhite;
}