ol li{
  background-color: yellow;
}

ol li.par{
  color: green;
}

ol li.primo{
  text-transform: uppercase;
}

h1, h3{
  color: red;
}

h1, h3 em{
  font-size: 40px;
  border: 1px solid black;
}

li{
  font-size: 20px;
}

li em{
  font-weight: bold;
}

li.azul{
  color: blue;
}

.fRosa{
  background-color: pink;
}

ul li a.hover:hover{
  font-weight: bold;
}
#stack:hover{
  color: orangered;
}
#w3:hover{
  color: green;
}
#mdn:hover{
  color: black;
}
#dev:hover{
  color: yellow;
}
#trybe:hover{
  color: green;
}


/*

  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde).

*/