ol li{
  background-color: yellow;
}

ol li:nth-of-type(2n){
  color: green;
}

ol li:nth-of-type(2n + 1){
  text-transform: uppercase;
}

h1, h3{
  color: red;
}

h1, h3 em{
  font-size: 40px;
  border: 1px solid black;
}

li{
  font-size: 20px;
}

li em{
  font-weight: bold;
}
ul li:nth-child(-n+3){
  color: blue;
}

li[value="java"]{
  background-color: pink;
}

ul li a:hover{
  font-weight: bold;
}

#orange:hover{
  color: orange;
}
#green:hover{
  color: green;
}
#preta:hover{
  color: black;
}
#verde:hover{
  color: green;
}
#amarela:hover{
  color: yellow;
}

