* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-section {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  /* border: 1px solid red; */
}

#myForm {
  width: 50vw;
  padding: 20px;
  background-color: rgb(223, 217, 217);
  border-radius: 4px;
}