header {
  text-align: center;
  margin: 20px;
}
.form-section {
  width: 50%;
  padding: 20px 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
}

form input{
  margin-bottom: 20px;
}