body {
  font-size: 1.5em;
  margin: 20px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.5em;
}

img {
    max-width: 100%;
}

figure {
    margin: 40px;
}

@media screen and (min-width: 375px) {
  body {
    background-color: rgb(243, 253, 252);
    font-size: 1em;
    margin: 10px;
  }
  figure {
    width: 30vw;
    border: 1px solid red;
  }
  div {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1366px) {
  body {
    background-color: rgb(238, 222, 253);
    font-size: 1.8em;
    margin: 30px;
    max-width: 80%;
  }
  figure {
    width: 30vw;
    border: 1px solid red;
  }
  div {
    display: flex;
    flex-wrap: wrap;
  }
}