.clientsContainer {
  text-align: center;
  padding: 20px;
  background-color: #091327;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientsLi {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.clientsLiContainer {
  border: 1px solid #df9c33;
  width: 300px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
}

.deleteButton {
  width: 40px;
  border: none;
  border-radius: 4px;
}
